<div class="prose">
<h2>Credits &amp; attribution</h2>

<p>We use questions from various sources and their original license applies.</p>

<ul>
    <li><a href="https://opentdb.com/" class="text-indigo-600 hover:text-indigo-900">Open Trivia DB</a></li>
</ul>
</div>